In [13]:
# Exercise 1: Month Names
def get_month_name():
    month = int(input("Enter the month: "))
    months = {
        1: "January", 2: "February", 3: "March", 4: "April",
        5: "May", 6: "June", 7: "July", 8: "August",
        9: "September", 10: "October", 11: "November", 12: "December"
    }
    if 1 <= month <= 12:
        print(f"Month {month} is {months[month]}")
    else:
        print("Invalid month number")

In [15]:
get_month_name()

Enter the month:  2

Month 2 is February

In [23]:
# Exercise 2: Cinema Tickets
def calculate_ticket_price():
    age = int(input("Enter your age: "))
    full_price = 6
    
    if age < 16:
        price = full_price / 2
    elif age >= 60:
        price = full_price / 3
    else:
        price = full_price
    
    print(f"Your ticket costs £{price:.2f}")

In [25]:
calculate_ticket_price()

Enter your age:  12

Your ticket costs £3.00

In [27]:
# Exercise 3: calculating BMI
""" 
Underweight: BMI < 18.5
Normal weight: 18.5 ≤ BMI < 24.9
Overweight: 25 ≤ BMI < 29.9
Obese: BMI > 30
"""
def calculate_bmi():
    weight = float(input("Enter your weight in (kg): "))
    height = float(input("Enter your height in (m): "))
    
    bmi = weight / (height ** 2)
    
    if bmi < 18.5:
        category = "underweight"
    elif bmi < 25:
        category = "normal"
    elif bmi < 30:
        category = "overweight"
    else:
        category = "obese"
    
    print(f"Your BMI is: {bmi:.2f}")
    print(f'You are in the "{category}" range.')

In [29]:
calculate_bmi()

Enter your weight in (kg):  82
Enter your height in (m):  1.62

Your BMI is: 31.25
You are in the "obese" range.

In [31]:
calculate_bmi()

Enter your weight in (kg):  45
Enter your height in (m):  1.58

Your BMI is: 18.03
You are in the "underweight" range.

In [33]:
calculate_bmi()

Enter your weight in (kg):  62
Enter your height in (m):  1.72

Your BMI is: 20.96
You are in the "normal" range.

In [42]:
# Exercise 4: Finding the largest among three numbers
num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))
num3 = int(input("Enter the third number:"))
if (num1>num2) and (num1>num3):
    print(f'The largest number is:{num1}')
elif (num2>num1) and (num2>num3):
    print(f'The largest is :{num2}')
else :
    print("The largest number is:",num3)

Enter the first number: 5
Enter the second number: 6
Enter the third number: 2

The largest is :6

In [46]:
# largest using max function
num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))
num3 = int(input("Enter the third number:"))
largest= max(num1,num2,num3)
print(f"the largest is {largest}")

Enter the first number: 23
Enter the second number: 12
Enter the third number: 9

the largest is 23

In [48]:
# Exercise 5: Factorial Calculator
def calculate_factorial():
    num = int(input("Enter a number: "))
    factorial = 1
    for i in range(1, num + 1):
        factorial *= i
    print(f"Factorial of {num} is {factorial}")

calculate_factorial()

Enter a number:  5

Factorial of 5 is 120

In [50]:
calculate_factorial()

Enter a number:  10

Factorial of 10 is 3628800

In [55]:
# Exercise 6: Reverse Number
def reverse_number():
    num = int(input("Enter a number: "))
    reversed_num = 0
    
    while num > 0:
        digit = num % 10
        reversed_num = (reversed_num * 10) + digit
        num = num // 10
    
    print(f"Reversed number is: {reversed_num}")

In [57]:
reverse_number()

Enter a number:  345

Reversed number is: 543

In [59]:
# Exercise 7: Multiples of a Number

def print_multiples():
    num = int(input("Enter a number: "))
    limit = int(input("Enter limit: "))
    
    for i in range(1, limit + 1):
        print(f"{num} x {i} = {num * i}")

In [61]:
print_multiples()

Enter a number:  3
Enter limit:  5

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

In [63]:
# Exercise 8: Break on 'done'
def break_on_done():
    while True:
        value = input(": ")
        print(value)
        if value.lower() == 'done':
            break

In [65]:
break_on_done()

:  hai

hai

:  finished

finished

:  my assignment 3

my assignment 3

:  done

done

In [67]:
# Excercise 9,program to print numbers from 1 to 10
for i in range(1, 11):  # Loop from 1 to 10
    print(i)

1
2
3
4
5
6
7
8
9
10

In [69]:
def fizz_buzz():
    for i in range(1, 11):
        if i % 3 == 0 and i % 5 == 0:
            print("FizzBuzz")
        elif i % 3 == 0:
            print("Fizz")
        elif i % 5 == 0:
            print("Buzz")
        else:
            print(i)

In [71]:
fizz_buzz()

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz

In [73]:
# Exercise 10: Number Pattern
"""
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
"""
def print_pattern():
    for i in range(5, 0, -1):
        for j in range(i, 0, -1):
            print(j, end=" ")
        print()

In [75]:
print_pattern()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1