In [1]:
# List Exercises
print("--- List Exercises ---")

--- List Exercises ---

In [5]:
# Q1: Create a list of 5 random numbers
num = [42, 17, 33, 8, 91]
print("Random list", num)

Random list is: [42, 17, 33, 8, 91]

In [8]:
# Q2: Insert 3 new values
# Adds to end
num.append(23)

# Adds to beginning
num.insert(0,10)  

# Adds at index 4
num.insert(4,50)

print("Updated list after insertions:", num)

Updated list after insertions: [10, 42, 17, 33, 50, 8, 91, 23]

In [16]:
# Q3: Print each element in the List using for loop
num=[10, 42, 17, 33, 50, 8, 91, 23]
for i in num:
    print(i)

10
42
17
33
50
8
91
23

In [18]:
# Dictionary Exercises
print("\n--- Dictionary Exercises ---")

--- Dictionary Exercises ---

In [20]:
# Q1: Create a dictionary with name, age, address
person = {
    'name': 'John',
    'age': 25,
    'address': 'New York'
}
print("Personal details dictionary:", person)

Personal details dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}

In [22]:
# Q2: Add phone number
person['phone_no'] = '9947483443'
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone_no': '9947483443'}

In [24]:
# Set Exercises
print("\n--- Set Exercises ---")

--- Set Exercises ---

In [26]:
# Q1: Create a set
my_set={1,2,3,4,5}

In [30]:
print("My new set is:",my_set)

My new set is: {1, 2, 3, 4, 5}

In [34]:
# Q2: Add value 6 to set in Q1
my_set.add(6)
print("The updated set after adding \'6\' is:",my_set)

The updated set after adding '6' is: {1, 2, 3, 4, 5, 6}

In [38]:
# Q2: Remove value 3 from set in Q1
my_set.remove(3)
print("The set after removing \'3\' is:",my_set)

The set after removing '3' is: {1, 2, 4, 5, 6}

In [46]:
# Tuple Exercises
print("\n--- Tuple Exercises ---")

# Q1: Create a tuple
my_tuple = (1, 2, 3, 4)
print("My First Tuple:", my_tuple)

# Q2: Finding the length of the tuple
x=len(my_tuple)
print("The length of my tuple is",x)

--- Tuple Exercises ---
My First Tuple: (1, 2, 3, 4)
The length of my tuple is 4